.breadcrumbs{
  position: relative;
  width: 100%;
  height: auto;
  padding: 0px;
  font-size: 12px;

  ol{
    display: block;
    width: 100%;
    position: relative;

    li{
      display: block;
      position: relative;
      float: left;
      margin: 10px 5px 10px 10px;

      &:before{
        content: "/";
        display: block;
        position: absolute;
        left: -10px;
      }

      &:first-child{
        margin-left: 0;

        &:before{
          content: "";
          display: none;
        }
      }
    }
  }
}