/*========MIXINS=========*/
.placeholder(@s, @s2){
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: @s;
    font-size: @s2;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: @s;
    font-size: @s2;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: @s;
    font-size: @s2;
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: @s;
    font-size: @s2;
  }
}
.animation(@s){
  animation: @s;
  -webkit-animation: @s;
}
.animation2(@s,@s2){
  animation: @s,@s2;
  -webkit-animation: @s,@s2;
}
.keyframes(@name) {
  @-webkit-keyframes @name {
    .-frames(-webkit-);
  }
  @keyframes @name {
    .-frames();
  }
}
.transition(@s){
  transition: @s;
  -webkit-transition: @s;
  -moz-transition: @s;
  -ms-transition: @s;
  -o-transition: @s;
  -icab-transition: @s;
  -khtml-transition: @s;
}
.transition-delay(@s){
  transition-delay: @s;
  -webkit-transition-delay: @s;
  -moz-transition-delay: @s;
  -ms-transition-delay: @s;
  -o-transition-delay: @s;
  -icab-transition-delay: @s;
  -khtml-transition-delay: @s;
}
.transform(@s){
  transform: @s;
  -webkit-transform: @s;
  -moz-transform: @s;
  -ms-transform: @s;
  -o-transform: @s;
  -icab-transform: @s;
  -khtml-transform: @s;
}
.skew(@s){
  transform: skew(@s);
  -webkit-transform: skew(@s);
  -moz-transform: skew(@s);
  -ms-transform: skew(@s);
  -o-transform: skew(@s);
  -icab-transform: skew(@s);
  -khtml-transform: skew(@s);
}
.perspective(@s){
  perspective: @s;
  -webkit-perspective: @s;
}
.transform-style(@s){
  transform-style: @s;
  -webkit-transform-style: @s;
}
.transform-origin(@s){
  transform-origin: @s;
  -webkit-transform-origin: @s;
  -moz-transform-origin: @s;
  -ms-transform-origin: @s;
  -o-transform-origin: @s;
  -icab-transform-origin: @s;
  -khtml-transform-origin: @s;
}
.transition-delay(@s){
  transition-delay: @s;
  -webkit-transition-delay: @s;
  -moz-transition-delay: @s;
  -ms-transition-delay: @s;
  -o-transition-delay: @s;
  -icab-transition-delay: @s;
  -khtml-transition-delay: @s;
}
.box-shadow(@s){
  box-shadow:@s;
  -webkit-box-shadow:@s;
  -moz-box-shadow:@s;
  -ms-box-shadow:@s;
  -o-box-shadow:@s;
  -icab-box-shadow:@s;
  -khtml-box-shadow:@s;
}
.box-sizing(@s){
  box-sizing: @s;
  -webkit-box-sizing: @s;
  -moz-box-sizing: @s;
  -ms-box-sizing: @s;
  -o-box-sizing: @s;
  -icab-box-sizing: @s;
  -khtml-box-sizing: @s;
}
.br(@s){
  -webkit-border-radius: @s;
  border-radius: @s;
}

.cover(){
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.calc-width(@s){
  width: calc(~""@s);
  width: -moz-calc(~""@s);
  width: -webkit-calc(~""@s);
  width: -o-calc(~""@s);
}

.calc-height(@s){
  height: calc(~""@s);
  height: -moz-calc(~""@s);
  height: -webkit-calc(~""@s);
  height: -o-calc(~""@s);
}


//----------------------

.size(@height, @width) {
  width: @width;
  height: @height;
}
.square(@size) {
  .size(@size, @size);
}
.center-block() {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Opacity
.opacity(@opacity) {
  opacity: @opacity / 100;
  filter: ~"alpha(opacity=@{opacity})";
}

//------------------------
.my-transition(){
  .transition(all @at ease);
}