.space{
  width: 100%;
  height: 0;
  clear: both;
  position: relative;
}

.space1{
  width: 100%;
  height: 1px;
  clear: both;
  position: relative;
}

.outline-none{
  outline: none !important;
}

.border-none{
  border: none !important;
}

.resize-none{
  resize: none;
}

.color-blue{
  color: #246c9e;
}

.padding-top-20{
  padding-top: 20px !important;
}

.padding-left-200{
  padding-left: 200px !important;
}

.padding-left-20{
  padding-left: 20px !important;
}

.padding-left-20-px{
  padding-left: 20px;
}

.padding-left-20-px-i{
  padding-left: 20px !important;
}


.padding-right-20{
  padding-right: 20px !important;
}

.padding-right-30{
  padding-right: 30px !important;
}

.margin-bottom-20{
  margin-bottom: 20px !important;
}

.margin-bottom-10{
  margin-bottom: 10px !important;
}

.margin-top-10{
  margin-top: 10px !important;
}

.margin-top-20{
  margin-top: 20px !important;
}

.margin-top-30{
  margin-top: 30px !important;
}

.margin-right-0{
  margin-right: 0px !important;
}

.margin-right-5{
  margin-right: 5px !important;
}


.margin-left-20-px{
  margin-left: 20px;
}

.margin-left-20-px-i{
  margin-left: 20px !important;
}


.float-left{
  float: left !important;
}

.float-right{
  float: right !important;
}

.width-99{
  width: 99%;
}

.width-100{
  width: 100%;
}

.width-45{
  width: 45%;
}

.width-49{
  width: 49%;
}

.height-0{
  height: 0px;
}

.height-100{
  height: 100%;
}

.height-100-i{
  height: 100% !important;
}

.height-400-px{
  height: 400px !important;
}

.min-height-60{
  min-height: 60px;
}

.width-50{
  width: 50%;
}

.height-60-px{
  height: 60px;
}

.hide{
  display: none;
}

.line-height-1{
  line-height: 1;
}

.i-line-height-1{
  line-height: 1 !important;
}



.font-size-20px{
  font-size: 20px;
}



.background-color-lightGray{
  background-color: rgba(0,0,0,0.1);
}



// COmpLeX

table.table-valing-middle{
  tbody{
    td{
      vertical-align: middle;
    }
  }
}

.hover-scale{
  .transition(all @at ease);

  &:hover{
    .transform(scale(1.1,1.1));
  }
}

.hover-pulse{
  .transition(all @at ease);

  &:hover{
    .animation(pulse @at infinite ease);
  }
}