#left-menu{
  position: relative;
  width: 100%;
  height: auto;

  .left-menu-title{
    position: relative;
    width: 100%;
    height: 90px;

    span{
      position: absolute;
      width: 100%;
      display: block;
      margin: 40px 0 0 0;
      color: #23a4d7;
      font-size: 18px;
      text-align: left;
      padding-left: 14px;
      @media @s_w1{
        padding-left: 14px;
        font-size: 18px;
      };
      @media @s_w2{
        padding-left: 0px;
        font-size: 16px;
        text-align:center
      };
      text-transform: uppercase;
    }
  }

  &>ul{
    position: relative;
    width: 100%;
    height: auto;
    display: block;
    color: #fff;

    &>li{
      position: relative;
      width: 100%;
      height: auto;
      display: block;
      cursor: pointer;
      .transition(all @at ease);
      .transform-origin(50% 50%);

      &:last-child{
        &>span{
          border-bottom: none;
        }
      }

      &>span{
        position: relative;
        .box-sizing(border-box);
        width: 200px;
        height: 100%;
        display: block;
        margin-left: 14px;
        line-height: 18px;
        @media @s_w1{
          margin-left: 14px;
        };
        @media @s_w2{
          margin-left: 5px;
        };
        font-size: 13px;
        padding: 10px 0;
        text-transform: uppercase;
        border-bottom: 1px solid #353535;
        .transition(all @at*2 ease);
        .transform-origin(50% 50%);
      }

      &:hover{
        &>span{
          color: #23a4d7;
        }
      }

      &.active,&.open{
        &>span{
          color: #23a4d7;
          border-bottom: 1px solid transparent;
        }
      }

      &.open{

      }

      &>ul{
        display: none;
        position: relative;
        width: 100%;
        .box-sizing(border-box);
        font-size: 13px;
        overflow: hidden;

        &>a{
          text-decoration: none;
          color: #fff;
        }

        &>a>li{
          position: relative;
          width: 100%;
          height: auto;
          display: block;
          cursor: pointer;
          background-color: rgb(35,164,215);
          .transition(all @at ease);
          .transform-origin(50% 50%);

          &>span{
            position: relative;
            .box-sizing(border-box);
            width: 180px;
            height: 100%;
            display: block;
            margin-left: 28px;
            @media @s_w1{
              margin-left: 28px;
            };
            @media @s_w2{
              margin-left: 10px;
            };
            font-size: 13px;
            padding: 10px 0;

            a, a:hover, a:visited{
              color: inherit;
              text-decoration: none;
            }

            &:before{
              content:'- ';
            }
          }

          &:hover, &.open{
            background-color: rgba(35,164,215,0.2);
          }
        }
      }
    }
  }
}