/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  /*font-size: 100%;*/
  /*font: inherit;*/
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
html{
  font-family: Verdana;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

//=======================================================================
@font-face {
  font-family: 'RobotoBlack';
  src: url('/public/fonts/kval/RobotoBlack.eot');
  src: url('/public/fonts/kval/RobotoBlack.eot?#iefix') format('embedded-opentype'),
  url('/public/fonts/kval/RobotoBlack.woff') format('woff'),
  url('/public/fonts/kval/RobotoBlack.woff2') format('woff2'),
  url('/public/fonts/kval/RobotoBlack.ttf') format('truetype'),
  url('/public/fonts/kval/RobotoBlack.svg#Sri-TSCRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoBlackItalic';
  src: url('/public/fonts/kval/RobotoBlackItalic.eot');
  src: url('/public/fonts/kval/RobotoBlackItalic.eot?#iefix') format('embedded-opentype'),
  url('/public/fonts/kval/RobotoBlackItalic.woff') format('woff'),
  url('/public/fonts/kval/RobotoBlackItalic.woff2') format('woff2'),
  url('/public/fonts/kval/RobotoBlackItalic.ttf') format('truetype'),
  url('/public/fonts/kval/RobotoBlackItalic.svg#Sri-TSCRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoBold';
  src: url('/public/fonts/kval/RobotoBold.eot');
  src: url('/public/fonts/kval/RobotoBold.eot?#iefix') format('embedded-opentype'),
  url('/public/fonts/kval/RobotoBold.woff') format('woff'),
  url('/public/fonts/kval/RobotoBold.woff2') format('woff2'),
  url('/public/fonts/kval/RobotoBold.ttf') format('truetype'),
  url('/public/fonts/kval/RobotoBold.svg#Sri-TSCRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoRegular';
  src: url('/public/fonts/kval/RobotoRegular.eot');
  src: url('/public/fonts/kval/RobotoRegular.eot?#iefix') format('embedded-opentype'),
  url('/public/fonts/kval/RobotoRegular.woff') format('woff'),
  url('/public/fonts/kval/RobotoRegular.woff2') format('woff2'),
  url('/public/fonts/kval/RobotoRegular.ttf') format('truetype'),
  url('/public/fonts/kval/RobotoRegular.svg#Sri-TSCRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoLightItalic';
  src: url('/public/fonts/kval/RobotoLightItalic.eot');
  src: url('/public/fonts/kval/RobotoLightItalic.eot?#iefix') format('embedded-opentype'),
  url('/public/fonts/kval/RobotoLightItalic.woff') format('woff'),
  url('/public/fonts/kval/RobotoLightItalic.woff2') format('woff2'),
  url('/public/fonts/kval/RobotoLightItalic.ttf') format('truetype'),
  url('/public/fonts/kval/RobotoLightItalic.svg#Sri-TSCRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoLight';
  src: url('/public/fonts/kval/RobotoLight.eot');
  src: url('/public/fonts/kval/RobotoLight.eot?#iefix') format('embedded-opentype'),
  url('/public/fonts/kval/RobotoLight.woff') format('woff'),
  url('/public/fonts/kval/RobotoLight.woff2') format('woff2'),
  url('/public/fonts/kval/RobotoLight.ttf') format('truetype'),
  url('/public/fonts/kval/RobotoLight.svg#Sri-TSCRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoMedium';
  src: url('/public/fonts/kval/RobotoMedium.eot');
  src: url('/public/fonts/kval/RobotoMedium.eot?#iefix') format('embedded-opentype'),
  url('/public/fonts/kval/RobotoMedium.woff') format('woff'),
  url('/public/fonts/kval/RobotoMedium.woff2') format('woff2'),
  url('/public/fonts/kval/RobotoMedium.ttf') format('truetype'),
  url('/public/fonts/kval/RobotoMedium.svg#Sri-TSCRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
//=======================================================================


@font-face {
  font-family: 'open_sansbold';
  src: url('/public/fonts/mr/opensans-bold-webfont.eot');
  src: url('/public/fonts/mr/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('/public/fonts/mr/opensans-bold-webfont.woff2') format('woff2'),
  url('/public/fonts/mr/opensans-bold-webfont.woff') format('woff'),
  url('/public/fonts/mr/opensans-bold-webfont.ttf') format('truetype'),
  url('/public/fonts/mr/opensans-bold-webfont.svg#open_sansbold') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'open_sansbold_italic';
  src: url('/public/fonts/mr/opensans-bolditalic-webfont.eot');
  src: url('/public/fonts/mr/opensans-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('/public/fonts/mr/opensans-bolditalic-webfont.woff2') format('woff2'),
  url('/public/fonts/mr/opensans-bolditalic-webfont.woff') format('woff'),
  url('/public/fonts/mr/opensans-bolditalic-webfont.ttf') format('truetype'),
  url('/public/fonts/mr/opensans-bolditalic-webfont.svg#open_sansbold_italic') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'open_sansextrabold';
  src: url('/public/fonts/mr/opensans-extrabold-webfont.eot');
  src: url('/public/fonts/mr/opensans-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
  url('/public/fonts/mr/opensans-extrabold-webfont.woff2') format('woff2'),
  url('/public/fonts/mr/opensans-extrabold-webfont.woff') format('woff'),
  url('/public/fonts/mr/opensans-extrabold-webfont.ttf') format('truetype'),
  url('/public/fonts/mr/opensans-extrabold-webfont.svg#open_sansextrabold') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'open_sansextrabold_italic';
  src: url('/public/fonts/mr/opensans-extrabolditalic-webfont.eot');
  src: url('/public/fonts/mr/opensans-extrabolditalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('/public/fonts/mr/opensans-extrabolditalic-webfont.woff2') format('woff2'),
  url('/public/fonts/mr/opensans-extrabolditalic-webfont.woff') format('woff'),
  url('/public/fonts/mr/opensans-extrabolditalic-webfont.ttf') format('truetype'),
  url('/public/fonts/mr/opensans-extrabolditalic-webfont.svg#open_sansextrabold_italic') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'open_sansitalic';
  src: url('/public/fonts/mr/opensans-italic-webfont.eot');
  src: url('/public/fonts/mr/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'),
  url('/public/fonts/mr/opensans-italic-webfont.woff2') format('woff2'),
  url('/public/fonts/mr/opensans-italic-webfont.woff') format('woff'),
  url('/public/fonts/mr/opensans-italic-webfont.ttf') format('truetype'),
  url('/public/fonts/mr/opensans-italic-webfont.svg#open_sansitalic') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'open_sanslight';
  src: url('/public/fonts/mr/opensans-light-webfont.eot');
  src: url('/public/fonts/mr/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('/public/fonts/mr/opensans-light-webfont.woff2') format('woff2'),
  url('/public/fonts/mr/opensans-light-webfont.woff') format('woff'),
  url('/public/fonts/mr/opensans-light-webfont.ttf') format('truetype'),
  url('/public/fonts/mr/opensans-light-webfont.svg#open_sanslight') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'open_sanslight_italic';
  src: url('/public/fonts/mr/opensans-lightitalic-webfont.eot');
  src: url('/public/fonts/mr/opensans-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('/public/fonts/mr/opensans-lightitalic-webfont.woff2') format('woff2'),
  url('/public/fonts/mr/opensans-lightitalic-webfont.woff') format('woff'),
  url('/public/fonts/mr/opensans-lightitalic-webfont.ttf') format('truetype'),
  url('/public/fonts/mr/opensans-lightitalic-webfont.svg#open_sanslight_italic') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'open_sansregular';
  src: url('/public/fonts/mr/opensans-regular-webfont.eot');
  src: url('/public/fonts/mr/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('/public/fonts/mr/opensans-regular-webfont.woff2') format('woff2'),
  url('/public/fonts/mr/opensans-regular-webfont.woff') format('woff'),
  url('/public/fonts/mr/opensans-regular-webfont.ttf') format('truetype'),
  url('/public/fonts/mr/opensans-regular-webfont.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'open_sanssemibold';
  src: url('/public/fonts/mr/opensans-semibold-webfont.eot');
  src: url('/public/fonts/mr/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
  url('/public/fonts/mr/opensans-semibold-webfont.woff2') format('woff2'),
  url('/public/fonts/mr/opensans-semibold-webfont.woff') format('woff'),
  url('/public/fonts/mr/opensans-semibold-webfont.ttf') format('truetype'),
  url('/public/fonts/mr/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'open_sanssemibold_italic';
  src: url('/public/fonts/mr/opensans-semibolditalic-webfont.eot');
  src: url('/public/fonts/mr/opensans-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('/public/fonts/mr/opensans-semibolditalic-webfont.woff2') format('woff2'),
  url('/public/fonts/mr/opensans-semibolditalic-webfont.woff') format('woff'),
  url('/public/fonts/mr/opensans-semibolditalic-webfont.ttf') format('truetype'),
  url('/public/fonts/mr/opensans-semibolditalic-webfont.svg#open_sanssemibold_italic') format('svg');
  font-weight: normal;
  font-style: normal;

}

//=======================================================================
