#top-menu{
  width: 100%;
  height: 56px;
  background-color: #23a4d7;
  position: absolute;
  left: 0;
  bottom: 0;

  &>ul{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    li{
      position: relative;
      display: block;
      float: left;
      margin: 15px 0 0 0;
      padding: 0;
      color: #fff;
      cursor: pointer;

      a{
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        color: #fff;
        text-decoration: none;
        padding: 5px 20px 5px 25px;
        &:visited{
          color: #fff;
        }
        span{
          position: relative;
          display: block;
          .transition(all @at ease);
          .transform-origin(50% 50%);
        }
      }




      &:first-child{
        margin-left: 20px;
      }

      &:before{
        content:'/';
        color: #0d7199;
        font-size: 26px;
        position: absolute;
        width: 26px;
        height: 26px;
        left: 0;
        top: -3px;
      }

      &:hover{
        span{
          .transform(translate3d(0px, -3px, 0px));
        }
      }
    }
  }

  &>.search-block{
    position: absolute;
    right: 0;
    top: 0;
    width: 250px;
    height: 100%;

    input{
      position: absolute;
      left: 0;
      top: 15px;
      width: 230px;
      height: 23px;
      display: block;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid #1982ac;
      outline: none;
      color: #fff;
    }
    input::-webkit-input-placeholder {
      color: #fff;
    }
    input:-moz-placeholder {
      color: #fff;
    }

    .el-btn-search{
      position: absolute;
      right: 20px;
      top: 15px;
      width: 18px;
      height: 18px;
      padding: 0;
      background-image: url(../../i/search.png);
      background-position: 0 0;
      cursor: pointer;
      .transition(all @at ease);
      .transform-origin(50% 50%);

      &:hover{
        .transform(translate3d(0px, 0px, 0px) scale(1.1,1.1));
      }

    }
  }
}