/*====SCREENS=======*/
@s_w1: ~"screen and  (min-width: 1000px)";
@s_w2: ~"screen and  (max-width: 999px)";
@s_w3: ~"screen and  (max-width: 1300px)";


@m-phone:      ~"only screen and (max-width: 767px)";
@m-tablet:      ~"only screen and (min-width: 768px) and (max-width: 999px)";
@m-mobile:      ~"only screen and (max-width: 999px)";
@m-desktop-s:     ~"only screen and (min-width: 1000px) and (max-width: 1199px)";
@m-desktop-xl:  ~"only screen and (min-width: 1200px)";
@m-desktop:  ~"only screen and (min-width: 1000px)";

//========COLORS============
@my-yellow: #ffd61c;
@my-white: #f5f5f5;
@my-white2: #f7f7f7;
@my-gray: #bebebe;
@my-black: #2f2f2f;

/*=========VARS===========*/
//@text-font: LikaFont1, sans-serif;
@text-font: open_sansregular, Arial, sans-serif;
@text-font-bold: open_sansbold, sans-serif;
@at: 400ms;
@s-width: 1100px;

@adminSidebarWidth: 300px;