#flux-left-nav{
  .glyphicon { margin-right:10px; }
  .panel-body { padding:0px; }
  .panel-body table tr td { padding-left: 15px }
  .panel-body .table {margin-bottom: 0px; }

  tr.active{
    background-color: rgba(0,0,0,0.2);

    a{
      font-weight: bold;
    }
  }
}