.tree {

  textarea{
    height: 300px;
  }

  ul.tree-ul>li {
    margin: 0px 0;
    list-style-type: none;
    position: relative;
    padding: 20px 5px 0px 5px;
    .transition(all @at ease);

//    &.content .add-before-btn{
//      position: absolute;
//      width: 50px;
//      height: 50px;
//      margin-left: -25px;
//      left: 50%;
//      z-index: 10;
//      top: -16px;
//      .transition(all @at ease);
//      .transform(scale(0.7,0.7));
//
//      &:hover{
//        .transform(scale(1,1));
//      }
//    }

    &.delete{
      opacity: 0;
    }

    &::before {
      content:'';
      position: absolute;
      top: 0;
      width: 1px;
      height: 100%;
      right: auto;
      left: -20px;
      border-left: 1px solid #ccc;
      bottom: 50px;
    }

    &::after {
      content:'';
      position: absolute;
      top: 30px;
      width: 25px;
      height: 20px;
      right: auto;
      left: -20px;
      border-top: 1px solid #ccc;
    }

    .tree-node {
      margin-bottom: 0px;
      width: 100%;
      border: 1px solid #ccc;
      padding: 5px 10px;


      &.panel{
        padding: 0px;

        &.unpublished{
          border: 2px solid rgba(220,10,20,0.2);
          background-color: rgba(220,10,20,0.1);
        }
      }

      &.add-btn{
        background-color: rgba(228, 217, 218, 0.1);
        border-radius: 0 50px 50px 50px;
        width: 80px;
      }

      &:hover, &:hover+ul.tree-ul li .tree-node{
        color: #000;
        border: 1px solid #94a0b4;
      }

      &:hover+ul.tree-ul li::after, &:hover+ul.tree-ul li::before, &:hover+ul.tree-ul::before, &:hover+ul.tree-ul ul.tree-ul::before{
        border-color: #94a0b4;
      }
    }

    &:last-child::before {
      height: 30px;
    }

  }

  &>ul.tree-ul>li::before, &>ul.tree-ul>li::after{
    border: 0;
  }

  .dropdown-menu li{
    padding: 5px;
  }

}
