


.repeated-item{
  display: block;

  &.ng-move, &.ng-enter, &.ng-leave{
    .transition(all ease @at);
  }

  &.ng-leave.ng-leave-active, &.ng-move, &.ng-enter{
    .transform(scale(1,0));
  }

  &.ng-leave, &.ng-move.ng-move-active, &.ng-enter.ng-enter-active{
    .transform(scale(1,1));
  }
}


//.list-item{
//  &:hover, &.hover{
//    background-color: rgba(0,0,0,0.1) !important;
//    color: #666;
//  }
//}


.panel-actions{
  position: absolute;
  top: -3px;
  right:0px;

  .mbtn{
//    padding: 5px;
    cursor: pointer;
    .transition(all @at ease);
    width: 20px;
    height: 20px;

    &:hover{
      .transform(scale(1.5,1.5));
    }
  }
}

.product-cat-list-item, .list-item{
  .transition(all @at ease);
  position: relative;

  .text{
    padding-right: 230px;
  }

  &:hover, &.hover{
    background-color: rgba(0,0,0,0.04) !important;
    color: #666;
    .box-shadow(2px 2px 5px 2px rgba(50, 50, 50, 0.1));

    .float-actions{
      .transform(scale(1,1) translate(0,0,0));
      opacity: 1;
    }
  }

  &.is-new-list-item{
    outline-color: rgba(20, 170, 30, 0.2);
    outline-width: 2px;
    outline-offset: -5px;
    outline-style: solid;
  }

  &.is-unpublished-list-item{
    background-color: rgba(170, 20, 30, 0.08);

    &:hover, &.hover{
      background-color: rgba(170, 60, 90, 0.04);
    }
  }


  .list-action-btn{
    .box-shadow(1px 1px 5px 1px rgba(50, 50, 50, 0.1));
    .transition(all @at ease);
    z-index: 10;
    width: 20px;
    height: 20px;
    min-height: 0;
    min-width: 0;
    margin-left: 10px;
    top: 0;
    .transform(scale(0.7,0.7));
    opacity: 0.7;

    &:hover, &.hover{
      .transform(scale(1,1));
      opacity: 1;
    }
  }

  .float-actions{
    position: absolute;
    width: 100%;
    overflow: visible;
    height: 0;
    left: 0px;
    top: 0;
    bottom:auto;
    .transition(all @at ease);
    .transform(scale(0.6,0.9) translate(0,20px,0));
    opacity: 0;

    &.float-actions-bottom{
      top:auto;
      bottom: 0;
    }

    section{
      height: 0;
      overflow: visible;
    }

    .md-button{
      .box-shadow(1px 1px 5px 1px rgba(50, 50, 50, 0.1));
      .transition(all @at ease);
      z-index: 10;
      width: 20px;
      height: 20px;
      min-height: 0;
      min-width: 0;
      top: 0;
      .transform(scale(0.7,0.7));
      opacity: 0.7;

      &:hover{
        .transform(scale(1,1));
        opacity: 1;
      }

    }

  }

  .list-input-container{
    margin-bottom: 0px;
    box-sizing: border-box;
    .transition(all @at ease);

    label{
      position: absolute;
      left: 0px;
      top: -14px;
      font-size: 11px;
      color: rgba(0,0,0,0.7);
      .transition(all @at/2 ease);
    }

    input{
      background-color: transparent;
      border: none;
      border-bottom: 1px solid rgba(30,30,120, 0.8);
      outline: none;
      .transition(all @at/2 ease);
    }

    &.blank{
      label{
        top: 0px;
        font-weight: 300;
        font-size: 12px;
        color: rgba(0,0,0,0.5);
      }
      input{
        border-bottom: 1px solid rgba(30,30,30, 0.3);
      }
    }

    &.focused{
      label{
        top: -14px;
        font-size: 11px;
        color: rgba(0,0,0,0.5);
      }
      input{
        border-bottom: 1px solid rgba(30,30,120, 0.3);
      }
    }
  }

}

.bread-btn{
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 36px;
}
.bread-link{
  color: #3f51b4;
  font-style: italic;
  .transition(all @at ease);

  &:hover{
    text-decoration: underline;
  }
}
.bread-separator{
  color: #333;
  font-style: normal;
  padding: 0 5px;
  .transition(all @at ease);

  &:hover{

  }
}

.md-button{
  .transition(all @at ease);

  &:hover{
    .transform(scale(1.1,1,1));
    cursor: pointer;
  }

  &.spin{
    opacity: 1;
    .transform(scale(1.2,1.2));
    .animation(spin @at*3 ease infinite);
  }

  &.pulse{
    opacity: 1;
    .transform(scale(1.2,1.2));
    .animation(pulse @at*3 ease infinite);
  }

  &.hover-scale:hover{
    .transform(scale(1.2,1.2));
  }
}

md-input-container.toolbar-input{
  margin-left: 30px;

  label{
    color: #fff;
    font-size: 10px;
  }

  input{
    color: #fff;
    border-bottom: 1px solid #fff;
  }
}

.gridList{
  md-grid-tile {
    .transition(all @at ease-out 50ms);

    &:hover{
      .transform(scale(0.9,0.9));
      cursor: pointer;
    }

    md-grid-tile-footer {
      background: rgba(0, 0, 0, 0.68);
      height: 40px;

      figcaption {
        width: 100%;
        height: 40px;
//        text-overflow: ellipsis;
        padding: 8px 10px;

        h3 {
          display: block; /* Fallback for non-webkit */
          display: -webkit-box;
          margin: 0;
          font-weight: 300;
          width: 100%;
          height: 30px;
          overflow: hidden;
          text-align: center;
          text-overflow: ellipsis;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }
      }
    }
  }

  md-icon {
    width: 50%;
    height: 50%;

    svg {
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
    }
  }
  .gray {
    background: #f5f5f5;
  }
  .dark-gray {
    background: #999;
  }
  .green {
    background: #b9f6ca;
  }
  .yellow {
    background: #ffff8d;
  }
  .blue {
    background: #84ffff;
  }
  .purple {
    background: #b388ff;
  }
  .red {
    background: #ff8a80;
  }
}

md-list{
  overflow: hidden;
  padding: 8px 0 28px 0 !important;
}
md-list-item{
  .md-button{
    overflow: visible;
  }
}

.add-before-btn{
  position: absolute;
  width: 50px;
  height: 50px;
  margin-left: -25px;
  left: 50%;
  z-index: 10;
  top: -16px;
  .transition(all @at ease);
  .transform(scale(0.7,0.7));

  &.is-list{
    top: -27px;
  }

  &.is-list-last{
    top: inherit;
    bottom: -24px;
  }

  &:hover{
    .transform(scale(1,1));
  }
}

md-icon{
  &.spin{
    opacity: 1;
    .transform(scale(1.2,1.2));
    .animation(spin @at*3 ease infinite);
  }
}