<div ng-controller="GalleriesCtrl as IC">

    <div class="height-0">
        <md-progress-linear ng-if="IC.fLoad"></md-progress-linear>
    </div>

    <h2 ng-show="IC.fList">Список галлерей</h2>
    <h2 ng-hide="IC.fList">Редактирование галлереи</h2>

    <md-content laout="column" flex>

        <md-card ng-if="!IC.fList">
            <md-list>
                <md-list-item class="list-item">
                    <span>Имя</span>
                    <p></p>
                    <md-input-container flex="60" class="outline-none">
                        <label>Строка</label>
                        <input type="text" ng-model="IC.item.name">
                    </md-input-container>
                </md-list-item>
                <md-list-item class="list-item">
                    <span>Заголовок</span>
                    <p></p>
                    <md-input-container flex="60" class="outline-none">
                        <label>Строка</label>
                        <input type="text" ng-model="IC.item.title">
                    </md-input-container>
                </md-list-item>
                <md-list-item class="list-item">
                    <span>Опуликована</span>
                    <p></p>
                    <md-switch
                            ng-model="IC.item.published"
                            ng-true-value="'1'"
                            ng-false-value="'0'"
                            aria-label="itemBoolean"
                            class="md-accent">
                    </md-switch>
                </md-list-item>
                <md-list-item class="list-item">
                    <span>Сортировка</span>
                    <p></p>
                    <md-input-container flex="60" class="outline-none">
                        <label>Целое число</label>
                        <input type="text" ng-model="IC.item.order">
                    </md-input-container>
                </md-list-item>
                <md-list-item class="list-item">
                    <div class="contents-in-block" flex="100">
                        <h2 flex="100">
                            <div class="md-actions" layout="row" layout-align="end center">
                                <span style="position: absolute;left: 16px;">Кртинки</span>
                                <md-button ng-click="IC.addImg($event)">Создать</md-button>
                            </div>
                        </h2>
                        <md-list-item flex="100" class="md-3-line" ng-repeat="item in IC.item.items">
                            <div class="md-list-item-text">
                                <md-card>
                                    <md-card-content>
                                        <md-list>
                                            <md-list-item class="list-item">
                                                <p></p>
                                                <div class="imgblock" flex="100">
                                                    <h2 flex="100">
                                                        <span>Картинка - {{ $index+1 }}</span>
                                                    </h2>
                                                    <div class="form-group">
                                                        <input class="hide" id="imgField_{{item.id+'_'+$index}}" required name="text" ng-model="item.value[field.name]">
                                                        <a ng-href="{{'/tinymce/filemanager/dialog.php?type=1&field_id=imgField_'+item.id+'_'+$index}}" target="_blank" class="iframe-btn">
                                                            <div class="form-img">
                                                                <img id="img_imgField_{{ item.id+'_'+$index }}" ng-src="{{item.img}}" alt="image"/>
                                                            </div>
                                                        </a>
                                                    </div>

                                                    <md-input-container flex="60" class="outline-none">
                                                        <label>Название</label>
                                                        <input type="text" ng-model="item.title">
                                                    </md-input-container>

                                                    <md-input-container flex="60" class="outline-none">
                                                        <label>Описание</label>
                                                        <input type="text" ng-model="item.description">
                                                    </md-input-container>

                                                </div>
                                            </md-list-item>
                                        </md-list>
                                    </md-card-content>
                                    <div class="md-actions" layout="row" layout-align="end center">
                                        <md-button ng-click="IC.deleteImg($event, item)">Удалить</md-button>
                                    </div>
                                </md-card>
                            </div>
                        </md-list-item>
                    </div>
                </md-list-item>
            </md-list>
        </md-card>

        <md-card ng-show="IC.fList">

            <md-data-table-container>
                <table md-data-table class="md-primary" md-row-select2="selected" md-progress="deferred">
                    <thead md-order="query.order" md-trigger="onorderchange">
                    <tr>
                        <th order-by="name" name="Имя"></th>
                        <th order-by="title" name="Заголовок"></th>
                        <th name="Количество картинок"></th>
                        <th order-by="published" name="Опубликована"></th>
                        <th order-by="order" name="Сортировка"></th>
                        <th name="Действия"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr md-auto-select
                        ng-repeat="item in IC.items | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit">
                        <td>{{item.name}}</td>
                        <td>{{item.title}}</td>
                        <td>{{item.items.length}}</td>
                        <td>
                            <md-switch
                                    ng-model="item.published"
                                    ng-change="IC.changePublished(item, $event)"
                                    ng-true-value="'1'"
                                    ng-false-value="'0'"
                                    aria-label="Published">
                            </md-switch>
                        </td>
                        <td>{{item.order}}</td>

                        <td>
                            <md-button ng-click="IC.editGallery(item, $event)" class="md-icon-button md-primary" aria-label="Favorite">
                                <md-icon md-svg-icon="i/icons/ic_create_primary_24px.svg"></md-icon>
                            </md-button>
                            <md-button ng-click="IC.deleteGallery(item, $event)" class="md-icon-button md-warn" aria-label="Favorite">
                                <md-icon md-svg-icon="i/icons/ic_delete_warn_24px.svg"></md-icon>
                            </md-button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </md-data-table-container>

            <md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{IC.items.length}}" md-trigger="onpagechange"></md-data-table-pagination>
        </md-card>
    </md-content>

</div>