<div ng-controller="HomeCtrl as IC">

    <div class="height-0">
        <md-progress-linear ng-if="IC.fLoad"></md-progress-linear>
    </div>

    <br/>

    <mb-content>
        <h2 ng-if="IC.items!=null && IC.items.length==0">Нет заявок..</h2>
        <md-list>
            <md-list-item class="md-3-line" ng-repeat="item in IC.items | orderBy : 'created_at' : true">
                <div class="md-list-item-text">
                    <md-card>
                        <md-card-content>
                            <h2>
                                <span ng-bind="item.value.name"></span> -
                                <span ng-bind="item.value.phone"></span> -
                                <span ng-bind="item.value.email"></span>
                            </h2>
                            <p>(<span ng-bind="item.created_at"></span>)</p><br>
                            <p ng-if="item.value.text!=null && item.value.text!=undefined">
                                <span ng-bind="item.value.text"></span>
                            </p>
                            <p ng-if="item.value.file!=null && item.value.file!=undefined && item.value.file!='(none)'">
                                <a target="_blank" ng-href="{{item.value.file}}">Скачать вложение</a>
                            </p>
                        </md-card-content>
                    </md-card>
                </div>
            </md-list-item>
        </md-list>
    </mb-content>

</div>