<div ng-controller="MenuCtrl as IC">

    <div class="height-0">
        <md-progress-linear ng-if="IC.fLoad"></md-progress-linear>
    </div>

    <br/>

    <mb-content>
        <md-list>
            <md-list-item class="md-3-line" ng-repeat="item in IC.items">
                <div class="md-list-item-text">
                    <content item="item" index="(IC.items.length>1)?$index:(-1)" f-load="IC.fLoad" reload="IC.reload"></content>
                </div>
            </md-list-item>
        </md-list>
    </mb-content>

</div>