<div ng-controller="MetaCtrl as IC">

    <div class="height-0">
        <md-progress-linear ng-if="IC.fLoad"></md-progress-linear>
    </div>

    <md-list>
        <md-list-item class="md-3-line">
            <div class="md-list-item-text">
                <content item="IC.item" index="1" f-load="IC.fLoad" reload="IC.reload" change="IC.change"></content>
            </div>
        </md-list-item>
    </md-list>

</div>