<div ng-controller="SettingsCtrl as IC">

    <div class="height-0">
        <md-progress-linear ng-if="IC.fLoad"></md-progress-linear>
    </div>

    <br/>

    <md-content>

        <md-card ng-show="IC.page=='types'">
            <div layout="row">
                <md-input-container>
                    <label>ID</label>
                    <input ng-model="IC.filter.type.id">
                </md-input-container>
                <md-input-container>
                    <label>Имя</label>
                    <input ng-model="IC.filter.type.name">
                </md-input-container>
                <md-input-container>
                    <label>Заголовок</label>
                    <input ng-model="IC.filter.type.title">
                </md-input-container>
                <md-button ng-click="IC.clearTypeFilter()" class="md-icon-button md-primary" aria-label="Favorite">
                    <md-icon md-svg-icon="i/icons/ic_cancel_warn_24px.svg" style="margin-top: 25px;"></md-icon>
                </md-button>
            </div>
            <md-data-table-container>
                <table md-data-table class="md-primary" md-row-select2="selected" md-progress="deferred">
                    <thead md-head md-order="IC.query.types.order" md-trigger="onorderchange">
                    <tr md-row>
                        <th md-column md-numeric order-by="id" name="ID"></th>
                        <th order-by="name" name="Имя"></th>
                        <th order-by="title" name="Заголовок"></th>
                        <th name="Количество полей"></th>
                        <th name="Количество блоков"></th>
                        <th style="width:200px" name="Действия"></th>
                    </tr>
                    </thead>
                    <tbody md-body>
                    <tr md-auto-select md-row
                        ng-repeat="item in IC.types
                        | filter:IC.filter.type
                        | orderBy: IC.query.types.order
                        | limitTo: IC.query.types.limit: (IC.query.types.page - 1) * IC.query.types.limit">

                        <td>{{item.id}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.title}}</td>
                        <td>
                            <md-button
                                    ng-click="IC.showFieldsByType(item, $event)"
                                    ng-bind="item.fields.length"
                                    aria-label="Eat cake"
                                    class="md-fab md-mini md-primary">
                            </md-button>
                        </td>
                        <td>
                            <md-button
                                    ng-click="IC.showContentsByType(item, $event)"
                                    ng-bind="item.contents.length"
                                    aria-label="Eat cake"
                                    class="md-fab md-mini md-primary">
                            </md-button>
                        </td>

                        <td>
                            <md-button ng-click="IC.editType(item, $event)" class="md-icon-button md-primary" aria-label="Favorite">
                                <md-icon md-svg-icon="i/icons/ic_create_primary_24px.svg"></md-icon>
                            </md-button>
                            <md-button ng-click="IC.deleteType(item, $event)" class="md-icon-button md-warn" aria-label="Favorite">
                                <md-icon md-svg-icon="i/icons/ic_delete_warn_24px.svg"></md-icon>
                            </md-button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </md-data-table-container>

            <md-data-table-pagination md-limit="IC.query.types.limit" md-page="IC.query.types.page" md-total="{{IC.types.length}}"></md-data-table-pagination>
        </md-card>





        <md-card ng-show="IC.page=='fields'">
            <div layout="row">
                <md-input-container>
                    <label>Имя</label>
                    <input ng-model="IC.filter.field.name">
                </md-input-container>
                <md-input-container>
                    <label>Заголовок</label>
                    <input ng-model="IC.filter.field.title">
                </md-input-container>
                <md-input-container>
                    <label>Тип</label>
                    <md-select ng-change="IC.filterType()" ng-model="IC.filter.type_id">
                        <md-option value="0">--Все--</md-option>
                        <md-option ng-repeat="type in IC.types" value="{{type.id}}">
                            {{type.title}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
            <md-data-table-container>
                <table md-data-table class="md-primary" md-row-select2="selected" md-progress="deferred">
                    <thead md-order="IC.query.fields.order" md-trigger="onorderchange">
                    <tr>
                        <th order-by="id" name="ID"></th>
                        <th order-by="content_type_id" name="Тип блока"></th>
                        <th order-by="type" name="Тип поля"></th>
                        <th order-by="group_type_id" name="GTID"></th>
                        <th order-by="name" name="Имя"></th>
                        <th order-by="title" name="Заголовок"></th>
                        <th style="width:200px" name="Действия"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr md-auto-select
                        ng-repeat="item in IC.fields
                        | filter:IC.filter.field
                        | orderBy: IC.query.fields.order
                        | limitTo: IC.query.fields.limit: (IC.query.fields.page - 1) * IC.query.fields.limit">

                        <td>{{item.id}}</td>
                        <td>
                            <md-button
                                    ng-click="IC.showTypeByID(item.content_type_id, $event)"
                                    ng-bind="IC.getTypeById(item.content_type_id).title"
                                    class="md-raised md-primary">
                            </md-button>
                        </td>
                        <td>{{item.type}}</td>
                        <td>{{ IC.getTypeById(item.group_type_id).title || '-'}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.title}}</td>

                        <td>
                            <md-button ng-click="IC.editField(item, $event)" class="md-icon-button md-primary" aria-label="Favorite">
                                <md-icon md-svg-icon="i/icons/ic_create_primary_24px.svg"></md-icon>
                            </md-button>
                            <md-button ng-click="IC.deleteField(item, $event)" class="md-icon-button md-warn" aria-label="Favorite">
                                <md-icon md-svg-icon="i/icons/ic_delete_warn_24px.svg"></md-icon>
                            </md-button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </md-data-table-container>

            <md-data-table-pagination md-limit="IC.query.fields.limit" md-page="IC.query.fields.page" md-total="{{IC.fields.length}}" md-trigger="onpagechange"></md-data-table-pagination>
        </md-card>







        <md-card ng-show="IC.page=='contents'">
            <div layout="row">
                <md-input-container>
                    <label>ID</label>
                    <input ng-model="IC.filter.content.id">
                </md-input-container>
                <md-input-container>
                    <label>Имя</label>
                    <input ng-model="IC.filter.content.name">
                </md-input-container>
                <md-input-container>
                    <label>Заголовок</label>
                    <input ng-model="IC.filter.content.title">
                </md-input-container>
                <md-input-container>
                    <label>Тип</label>
                    <md-select ng-change="IC.filterType()" ng-model="IC.filter.type_id">
                        <md-option value="0">--Все--</md-option>
                        <md-option ng-repeat="type in IC.types" value="{{type.id}}">
                            {{type.title}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
            <md-data-table-container>
                <table md-data-table class="md-primary" md-row-select2="selected" md-progress="deferred">
                    <thead md-order="IC.query.content.order" md-trigger="onorderchange">
                    <tr>
                        <th order-by="content.id" name="ID"></th>
                        <th order-by="pid" name="PID"></th>
                        <th order-by="type_id" name="Тип"></th>
                        <th name="Поля"></th>
                        <th order-by="group" name="Группа"></th>
                        <th order-by="parent_group" name="P_Group"></th>
                        <th order-by="name" name="Имя"></th>
                        <th order-by="title" name="Заголовок"></th>
                        <th style="width:200px" name="Действия"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr md-auto-select
                        ng-repeat="item in IC.contents
                        | filter:IC.filter.content
                        | orderBy: IC.query.content.order
                        | limitTo: IC.query.content.limit: (IC.query.content.page - 1) * IC.query.content.limit">

                        <td>{{item.id}}</td>
                        <td>
                            <md-button
                                    ng-click="IC.showContentsByID(item.pid, $event)"
                                    ng-bind="item.pid"
                                    aria-label="Eat cake"
                                    class="md-fab md-mini md-primary">
                            </md-button>
                        </td>
                        <td>
                            <md-button
                                    ng-click="IC.showTypeByID(item.type_id, $event)"
                                    ng-bind="IC.getTypeById(item.type_id).title"
                                    aria-label="Eat cake"
                                    class="md-raised md-primary">
                            </md-button>
                        </td>
                        <td>
                            <md-button
                                    ng-click="IC.showFieldsByType(item.type, $event)"
                                    ng-bind="item.fields.length"
                                    aria-label="Eat cake"
                                    class="md-fab md-mini md-primary">
                            </md-button>
                        </td>
                        <td>{{item.group}}</td>
                        <td>{{item.parent_group}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.title}}</td>

                        <td>
                            <md-button ng-click="IC.editContent(item, $event)" class="md-icon-button md-primary" aria-label="Favorite">
                                <md-icon md-svg-icon="i/icons/ic_create_primary_24px.svg"></md-icon>
                            </md-button>
                            <md-button ng-click="IC.deleteContent(item, $event)" class="md-icon-button md-warn" aria-label="Favorite">
                                <md-icon md-svg-icon="i/icons/ic_delete_warn_24px.svg"></md-icon>
                            </md-button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </md-data-table-container>

            <md-data-table-pagination md-limit="IC.query.content.limit" md-page="IC.query.content.page" md-total="{{IC.contents.length}}" md-trigger="onpagechange"></md-data-table-pagination>
        </md-card>






    </md-content>

</div>