<div ng-controller="SmsCtrl as IC">

    <div class="height-0">
        <md-progress-linear ng-if="IC.fLoad"></md-progress-linear>
    </div>

    <br/>

    <md-content>
        <md-card>
            <md-card-content>
                <h2 class="md-title">Баланс</h2>
                <p>
                    <span ng-bind="IC.info.balance.balance[0].balance"></span>
                </p>
            </md-card-content>
        </md-card>

        <md-card>
            <md-card-content>
                <h2 class="md-title">Версия API</h2>
                <p>
                    <span ng-bind="IC.info.api_version.version"></span>
                </p>
            </md-card-content>
        </md-card>

        <md-card>
            <md-card-content>
                <h2 class="md-title">Подписи</h2>
                <md-list>
                    <md-divider ></md-divider>
                    <md-list-item class="md-1-line" ng-repeat="sender in IC.info.senders.senders">
                        <p ng-bind="($index)+' - '+sender.name"></p>
                        <md-divider ></md-divider>
                    </md-list-item>
                </md-list>
    </md-content>
            </md-card-content>
        </md-card>





</div>