<div class="gallery-body" ng-if="fLoad">
    <div class="gallery-img preloader">
        <img src="i/preloader.gif" alt="preloader">
    </div>
</div>

<div class="gallery-body" ng-if="!fLoad">
    <div class="gallery-img">
        <img ng-src="{{gallery.items[i].img}}" alt="{{gallery.items[i].title}}">
    </div>
    <div class="gallery-items-block">
        <div class="gallery-slide-left gallery-slide-button" ng-class="{'active': fLeft}" ng-click="slideLeft()"></div>
        <div class="gallery-slide-right gallery-slide-button" ng-class="{'active': fRight}" ng-click="slideRight()"></div>
        <div class="gallery-items">
            <div class="gallery-items-wrap" id="gallery-items-wrap-{{index}}">
                <div class="gallery-item" ng-repeat="item in gallery.items" ng-click="selectImg($index)" ng-class="{'active': i==$index}">
                    <img ng-src="{{item.img}}" alt="{{item.title}}">
                </div>
            </div>
        </div>
    </div>
</div>