#block-about{
  padding-bottom: 30px;
  box-sizing: border-box;

  .block-body{
    position: relative;
    box-sizing: border-box;

    .block-title{
      position: absolute;
      right: 0;
      top: 30px;
      font-size: 18px;
      font-weight: bold;
      line-height: 20px;
      color: @my-black;
      width: auto;
      height: auto;
    }

    .title{
      position: relative;
      padding-top: 150px;
      padding-left: 75px;
      font-size: 36px;
      font-weight: bold;
      line-height: 40px;
      color: @my-black;
      width: auto;
      height: auto;
    }

    .text{
      font-family: open_sansregular, sans-serif;
      font-weight: 400;
      position: relative;
      padding-top: 20px;
      padding-left: 75px;
      padding-right: 130px;
      font-size: 14px;
      line-height: 18px;
      color: @my-black;
      width: auto;
      height: auto;

      p{
        padding-bottom: 20px;

        &:last-child{
          padding-bottom: 0;
        }
      }
    }

    .box{
      position: absolute;
      left: 12px;
      top: 121px;
      border: 2px solid @my-yellow;
      width: 850px;
      height: 250px;
    }

    .btn{
      font-family: open_sansregular, sans-serif;
      font-weight: 400;
      position: relative;
      margin-left: 75px;
      margin-top: 25px;
      width: auto;
      cursor: pointer;
      .my-transition();

      &:hover{
        .transform(scale(1.01,1.1));
        color: darken(@my-black,5%);
      }


      .arrow{
        position: absolute;
        left: 160px;
        top: 50%;
        width: 14px;
        height: 7px;
        background-image: url(../i/mr/about/arrow.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin-top: -4px;
      }
    }

  }
}