#block-contacts{

  .map{
    position: absolute;
    width: 100%;
    height: 400px;
    top: 0;
    left: 0;
  }

  .block-body{
    height: 500px;

    .info{
      position: absolute;
      left: 0;
      top: 100px;
      width: 400px;
      height: auto;
      padding: 15px;
      background-color: rgba(255,255,255,.74);

      .title{
        font-size: 40px;
        margin: 50px 0 50px;
        text-align: center;
      }

      .lines{
        position: relative;

        .line{
          font-family: "RobotoLight", serif;
          font-size: 18px;
          line-height: 20px;
          padding: 5px 0 20px 55px;
          position: relative;

          .line-img{
            position: absolute;
            left: 14px;
            top: 0;
            width: 25px;
            height: 30px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
          }
        }

      }
    }

  }
}