#block-firstScreen{
  position: relative;
  height: 950px;

  .bg{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .block-body{
    height: 100%;

    .text{
      position: absolute;
      top: 370px;
      left: 113px;
      width: auto;
      height: auto;
      font-family: open_sansregular, sans-serif;
      font-weight: bold;
      font-size: 48px;
      line-height: 57px;
      color: @my-white;

      span{
        color: @my-yellow;
      }
    }

    .line{
      position: absolute;
      width: 1053px;
      height: 58px;
      left: 650px;
      top: 400px;
      background-position: left;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url(../i/mr/firstScreen/line.png);
      opacity: 0.45;
    }

    .btn{
      position: absolute;
      left: 113px;
      top: 490px;
      width: 230px;
      height: 45px;
      background-color: transparent;
      border: 2px solid @my-yellow;
      text-align: center;
      line-height: 45px;
      box-sizing: border-box;
      color: @my-yellow;
      font-family: open_sansregular, sans-serif;
      font-weight: bold;
      font-size: 18px;
      cursor: pointer;
      .my-transition();

      &:hover{
        .transform(scale(1.1,1.1));
        color: darken(@my-yellow,5%);
        border-color: darken(@my-yellow,20%);
      }
    }


    .menu{
      position: absolute;
      left: 113px;
      top: 580px;

      .menu-item{
        position: relative;
        float: left;
        font-family: open_sansregular, sans-serif;
        font-weight: bold;
        font-size: 12px;
        line-height: 14px;
        margin-right: 40px;

        &:last-child{
          margin-right: 0;
        }

        &.active, &:hover{
          a{
            color: @my-white;
          }
        }

        a{
          color: @my-white;
          text-decoration: none;

          &:before{
            content: '';
            position: absolute;
            width: 50px;
            height: 2px;
            top: -8px;
            left: 0;
            background-color: @my-yellow;
          }

          &:hover{
            text-decoration: none;
          }
        }

      }
    }

  }
}