#block-os{
  height: 0;
  z-index: 9999;

  .modal{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: none;

    &.show{
      display: block;
    }

    .ov{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(60,60,60,0.8);
    }

    .os{
      position: absolute;
      left: 50%;
      top: 50%;
      height: 380px;
      box-sizing: border-box;
      margin-top: -190px;
      margin-left: -150px;

      text-align: center;
      background-color: #fff;
      z-index: 1000;

      .title{
        font-size: 29px;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
        text-align: center;
        padding: 0 20px;
        box-sizing: border-box;
      }

      .subtitle{
        margin-top: 5px;
        position: relative;
        font-size: 17px;
        margin-bottom: 10px;
        padding: 0 20px;

        width: 100%;
        text-align: center;
        box-sizing: border-box;
      }

      form{
        display: block;
        position: absolute;

        width: 80%;
        left: 10%;
        bottom: 0;

        input{
          width: 100%;
          box-sizing: border-box;
          display: block;
          margin: 0 auto;
          text-align: center;
          margin-bottom: 15px;
          font-size: 20px;
          padding: 5px 0;
          color: #452c0c;
          .placeholder(#452c0c, 16px);
          height: 47px;
          border: 1px solid #b3b9c4;

        }

        button{
          position: relative;
          display: block;
          margin: 0 auto;
          text-transform: uppercase;
          text-decoration: none;
          margin-bottom: 20px;
          border: 0;
          box-sizing: border-box;
          width: 100%;
          font-family: "RobotoRegular", serif;
          font-size: 16px;
          line-height: 40px;
          text-align: center;
          color: #fff;
          height: 40px;
          background-color: @my-yellow;
          .br(20px);
          cursor: pointer;
          .my-transition();

          &:hover{
            .transform(scale(1.05,1.05));
            background-color: darken(@my-yellow,15%);
          }
        }

      }

    }
  }

  .block-body{
    height: 100%;



  }
}