#block-promo2{
  height: 300px;

  .bg{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .block-body{
    height: 100%;

    .title{
      position: relative;
      padding: 30px 0 30px 0;
      text-align: center;
      color: @my-white;
      font-size: 18px;

      span{
        color: @my-yellow;
      }
    }

    .wrap{
      position: relative;
      width: 100%;
    }

    .os{
      position: relative;
      margin: 10px auto 0px auto;
      width: fit-content;

      .os-item{
        width: 200px;
        height: 35px;
        margin-right: 30px;

        &:last-child{
          margin-right: 0;
        }

        &.input{
          font-family: open_sansregular, sans-serif;
          font-weight: 400;
          font-size: 14px;
          background-color: #383838;
          border: none;
          color: @my-white2;
          border-bottom: 1px solid #4b4b4b;
          outline: none;
          .placeholder(rgba(247,247,247,0.5), 14px);

          &:focus{
            border-bottom-color: #565034;
          }
        }

        &.btn{
          background-color: #d8b413;
          font-size: 14px;
          color: @my-white;
          text-align: center;
          line-height: 35px;
          .my-transition();
          cursor: pointer;
          border: none;

          &:hover{
            .transform(scale(1.03,1.03));
            background-color: darken(@my-yellow,15%);
          }

        }


      }

    }

    .text{
      font-family: open_sansregular, sans-serif;
      font-weight: 400;
      position: relative;
      padding: 30px 0 30px 0;
      text-align: center;
      color: @my-white2;
      opacity: 0.3;
      font-size: 12px;
      line-height: 16px;
    }


  }
}