#block-promo3{
  height: 291px;

  .bg{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .block-body{
    height: 100%;
    padding-bottom: 60px;

    .title{
      font-size: 18px;
      line-height: 22px;
      text-align: center;
      color: @my-white2;
      position: relative;
      padding: 45px 10px 0px 10px;
    }


    .items{
      position: relative;
      width: fit-content;
      margin: 50px auto 20px auto;

      .item{
        position: relative;
        float: left;
        color: @my-gray;
        width: auto;
        padding-left: 40px;
        padding-right: 30px;
        //border-left: 1px solid @my-yellow;
        margin-left: 20px;

        &:first-child{
          margin-left: 0;
          //border-left: none;

          &:before{
            content: '';
            width: 0;
            height: 0;
          }
        }

        &:before{
          content: '';
          position: absolute;
          left: 0px;
          top: 50%;
          width: 1px;
          height: 12px;
          margin-top: -6px;
          background-color: @my-yellow;
        }

        .item-img{
          position: absolute;
          left: 15px;
          top: 50%;
          margin-top: -10px;
          width: 20px;
          height: 20px;
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
        }

        .item-title{
          position: relative;
          font-size: 12px;
          line-height: 14px;
          color: @my-white2;
          opacity: 0.5;
        }

        .item-text{
          font-family: open_sansregular, sans-serif;
          font-weight: 400;
          font-size: 12px;
          line-height: 14px;
          color: @my-white2;
          opacity: 0.5;
        }
      }
    }



    .btn{
      position: relative;
      width: 230px;
      height: 45px;
      margin: 0 auto 20px auto;
      background-color: transparent;
      border: 2px solid @my-yellow;
      text-align: center;
      line-height: 45px;
      box-sizing: border-box;
      color: @my-yellow;
      font-family: open_sansregular, sans-serif;
      font-weight: bold;
      font-size: 18px;
      cursor: pointer;
      .my-transition();

      &:hover{
        .transform(scale(1.1,1.1));
        color: darken(@my-yellow,5%);
        border-color: darken(@my-yellow,20%);
      }
    }

  }
}