#block-promo1{
  height: 405px;

  .bg{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .block-body{
    height: 100%;

    .title{
      position: relative;
      padding: 50px 0 0 0;
      font-size: 18px;
      line-height: 20px;
      font-family: open_sansbold, sans-serif;
      font-weight: bold;
      color: @my-white;
    }

    .items{
      position: absolute;
      left: 0;
      top: 100px;
      width: 550px;
      height: 200px;

      .item{
        position: relative;
        float: left;
        width: 260px;
        height: 90px;
        margin: 0 15px 15px 0;
        border: dashed 1px @my-yellow;
        box-sizing: border-box;
        text-align: center;
        line-height: 90px;
        color: @my-yellow;
        font-size: 18px;
        cursor: pointer;
        .my-transition();

        &:hover{
          .transform(scale(1.01,1.01));
          border-color: darken(@my-yellow, 20%);
        }

        &.active{
          border-style: solid;
          background-color: @my-yellow;
          color: @my-black;
        }


      }

      .item-content{
        display: none;
        position: absolute;
        left: 600px;
        top: 0;
        width: 500px;
        height: 200px;
        line-height: 200px;

        &.active{
          display: block;
        }

        &>span{
          font-family: open_sansregular, sans-serif;
          font-weight: 400;
          font-size: 14px;
          display: inline-block;
          vertical-align: middle;
          line-height: 18px;
          color: @my-white;
        }

      }
    }


    .text{
      position: absolute;
      left: 0;
      top: 315px;
      width: auto;
      height: auto;
      color: @my-white2;
      font-size: 14px;
      line-height: 17px;
      font-family: open_sansregular, sans-serif;
      font-weight: 400;
      opacity: 0.38;
    }


  }
}