#block-topMenu{
  height: 0px;
  z-index: 15;

  //.bg{
  //  position: absolute;
  //  left: 0;
  //  top: 0;
  //  right: 0;
  //  bottom: 0;
  //  width: 100%;
  //  height: 100%;
  //  background-repeat: no-repeat;
  //  background-size: cover;
  //  background-position: center;
  //}

  .block-body{
    margin-right: auto;
    margin-left: auto;

    .transition(all @at ease);

    .logo{
      position: absolute;
      left: 0px;
      top: 20px;
      width: auto;
      height: auto;
      .transition(all @at ease);

      .logo-text{
        position: absolute;
        width: 180px;

        span{
          font-family: open_sansregular, sans-serif;
          font-weight: bold;
          font-size: 24px;

          &.i1{
            color: #f5f5f5;
          }

          &.i2{
            color: #ffd61c;
          }

          p{
            display: inline-block;
          }
        }

        a{
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
        }
      }



    }

    .menu{
      position: absolute;
      left: 185px;
      top: 23px;

      .menu-item{
        position: relative;
        float: left;
        font-family: open_sansregular, sans-serif;
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        margin-right: 20px;

        &:last-child{
          margin-right: 0;
        }

        &.active, &:hover{
          a{
            color: @my-white;
          }

          &:before{
            content: '';
            position: absolute;
            width: 100%;
            height: 2px;
            top: -23px;
            left: 0;
            background-color: @my-yellow;
          }
        }

        a{
          color: @my-gray;
          text-decoration: none;

          &:hover{
            text-decoration: none;
          }
        }

      }
    }

    .slogan{
      font-family: open_sansbold, sans-serif;
      color: @my-white;
      font-size: 12px;
      line-height: 14px;
      position: absolute;
      right: 15px;
      top: 40px;
      width: auto;
      vertical-align: middle;
    }

    .phone{
      font-family: open_sansregular, sans-serif;
      font-weight: bold;
      color: @my-white;
      font-size: 16px;
      line-height: 18px;
      position: absolute;
      right: 15px;
      top: 20px;
      width: auto;
      vertical-align: middle;
    }

    .at-sign{
      position: absolute;
      right: 0;
      top:25px;
      font-family: open_sansregular, sans-serif;
      font-weight: bold;
      color: @my-yellow;
      font-size: 43px;
    }

  }

}