#block-whyUs{
  height: 666px;
  height: auto;

  .bg{
    background-position: right top;
    background-size: auto;
    background-repeat: no-repeat;
    position: absolute;
    right: 60px;
    top: 20px;
    left: 0;
    bottom: 0;
  }

  .block-body{
    height: 100%;


    .title{
      font-size: 18px;
      line-height: 22px;
      color: @my-black;
      padding: 45px 0 0 0;
    }

    .wrap{
      position: relative;
      width: 100%;
    }

    .items1{
      position: relative;
      margin: 55px auto 0 auto;
      width: fit-content;

      .item{
        position: relative;
        float: left;
        width: 275px;
        box-sizing: border-box;
        padding: 0 20px 0 15px;
        border-left: solid 2px @my-yellow;

        .number{
          position: absolute;
          left: -18px;
          top: 0;
          .transform(rotate(-90deg));
          color: @my-yellow;
          background-color: @my-white2;
          padding: 0 10px 0 10px;
        }

        .item-title{
          color: @my-yellow;
          font-size: 14px;
          line-height: 18px;
          padding: 20px 0 10px 0;
        }

        .item-text{
          font-family: open_sansregular, sans-serif;
          font-weight: 400;
          color: @my-black;
          font-size: 12px;
          line-height: 16px;
          padding: 0px 0 10px 0;
        }
      }

    }

    .text{
      text-align: right;
      font-size: 18px;
      line-height: 22px;
      color: @my-black;
      margin: 40px 0 40px 0;
    }

    .items2{
      position: relative;
      margin: 0px auto 0 auto;
      width: fit-content;
      box-sizing: border-box;

      .item{
        position: relative;
        float: left;
        width: 275px;
        box-sizing: border-box;
        padding: 0 20px 0 15px;

        &:after{
          content: '';
          position: absolute;
          width: 218px;
          height: 2px;
          background-color: @my-yellow;
          left: 60%;
          bottom: 20px;
        }

        &:last-child{
          &:after{
            content: '';
            display: none;
            width: 0px;
          }
        }

        .number{
          position: absolute;
          left: 50%;
          bottom: 0;
          width: 40px;
          height: 40px;
          margin-left: -20px;
          .br(40px);
          color: @my-white2;
          background-color: @my-yellow;
          padding: 0;
          text-align: center;
          line-height: 40px;
          font-size: 18px;
          .box-shadow(4px 4px 10px 1px rgba(0,0,0,0.1));
        }

        .item-title{
          color: @my-black;
          font-size: 14px;
          line-height: 18px;
          text-align: center;
          padding: 110px 0 50px 0;
        }

        .item-img{
          position: absolute;
          width: 100px;
          height: 100px;
          left: 50%;
          margin-left: -50px;
          top: 0;
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
        }
      }
    }


    .btn{
      position: relative;
      width: 230px;
      height: 45px;
      margin: 40px auto;
      background-color: transparent;
      border: 2px solid @my-yellow;
      text-align: center;
      line-height: 45px;
      box-sizing: border-box;
      color: @my-yellow;
      font-family: open_sansregular, sans-serif;
      font-weight: bold;
      font-size: 18px;
      cursor: pointer;
      .my-transition();

      &:hover{
        .transform(scale(1.1,1.1));
        color: darken(@my-yellow,5%);
        border-color: darken(@my-yellow,20%);
      }
    }

  }
}