#work-popup{
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(30,20,30,0.3);
  cursor: pointer;

  &.show{
    display: block;
  }

  &.transition{
    .my-transition();
  }

  .wp-wrap{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -450px;
    margin-top: -150px;
    width: 900px;
    height: 300px;
    background-color: #fff;
    .br(5px);

    .wp-title{
      font-family: RobotoBold, serif;
      font-size: 22px;
      text-align: center;
      line-height: 25px;
      padding: 10px;
      color: #666;
    }

    .wp-items{
      position: absolute;
      width: 850px;
      height: 80%;
      left: 25px;
      top: 15%;
      display: block;
      cursor: auto;
      overflow-x: hidden;
      white-space: nowrap;

      .wp-items-wrap{
        position: absolute;
        left: 0;
        top: 0;
        width: 100px;
        height: 100%;

        &.transition{
          .my-transition();
        }

        .wp-item{
          position: relative;
          width: 204px;
          height: 100%;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          float: left;
          margin-right: 10px;
          .br(3px);
          cursor: pointer;
          .my-transition();
          z-index: 1;

          &:hover{
            //.transform(scale(0.97,0.97));
          }

          &:last-child{
            margin-right: 0;
          }

          a{
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
          }
        }
      }


    }

    .wp-controlls{
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;

      .x{
        position: absolute;
        right: -10px;
        top: -10px;
        width: 20px;
        height: 20px;
        background-color: rgba(200,200,200,0.9);
        //.my-transition();
        text-align: center;
        font-family: RobotoLight, serif;
        font-size: 20px;
        line-height: 20px;
        color: #333;
        cursor: pointer;
        .br(20px);

        &:hover{
          .transform(scale(1.1,1.1));
        }
      }

      .wp-btn{
        position: absolute;
        top: 50%;
        width: 20px;
        height: 20px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        cursor: pointer;
        opacity: 0.7;
        .my-transition();

        &:hover{
          opacity: 1;
          .transform(scale(1.1,1.1));
        }

        &.wp-left{
          background-image: url(../i/left.png);
          left: 2px;
        }

        &.wp-right{
          background-image: url(../i/right.png);
          right: 2px;
        }
      }
    }
  }
}

.bg{
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: auto;
}

#block-works{
  z-index: 999;



  .block-body{
    height: 100%;


    .title{
      font-size: 18px;
      color: @my-black;
      text-align: left;
      padding-top: 40px;
    }

    .items{
      position: relative;
      margin-top: 30px;
      width: 100%;
      display: block;
      margin-bottom: 40px;

      .item{
        position: relative;
        display: block;
        width: 15%;
        height: 175px;
        float: left;
        margin: 0 2% 16px 0;
        overflow: hidden;

        &:nth-child(6n){
          margin-right: 0;
        }

        &.is_big{
          height: 320px;
        }

        &:hover{
          .img{
            .transform(scale(1.1,1.1));
          }
          .title{
            background-color: rgba(30,40,40,0.6);
          }
        }


        .img{
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          cursor: pointer;

          .my-transition();

        }

        .title{
          position: absolute;
          width: 100%;
          height: auto;
          font-size: 16px;
          font-family: RobotoLight, sans-serif;
          line-height: 20px;
          padding: 10px;
          background-color: rgba(30,40,30,0.4);
          color: #fff;
          text-align: center;
          left: 0;
          bottom: 0;
          cursor: pointer;
          .my-transition();


        }

      }

    }

  }
}