@import "bootstrap/less/bootstrap";
@import "font-awesome/less/font-awesome";

@import (once) "partials/eico";
@import (once) "partials/vars";
@import (once) "partials/functions";
@import (once) "partials/animations";
@import (once) "partials/helpers";

@import (once) "adminPartials/tree";
@import (once) "partials/react";

@import (once) "partials/flux-cart";
@import (once) "adminPartials/sidebar";
@import (once) "adminPartials/UI";
@import (once) "adminPartials/ngAnimate";



@btn-font-weight: 300;
@font-family-sans-serif: "Roboto", Helvetica, Arial, sans-serif;

body, label, .checkbox label {
  font-weight: 300;
}






html{
  position: relative;
  height: 100%;
  overflow: hidden;

  body{
	position: relative;
	height: 100%;
	overflow: hidden;

	#wrapper{
	  position: relative;
	  height: 100%;
	  overflow: hidden;

	  #wr-section{
		position: relative;
		height: 100%;
		overflow: hidden;
	  }

	  #content{
		position: relative;
		height: 100%;
		overflow: auto;
		border-top: 60px solid transparent;
		margin-top: -60px;
		box-sizing: border-box;
	  }
	}
  }
}









*[ng-click]{
  cursor: pointer;
}

#content{
  width: 90%;
  margin: 0 auto;
}

.panel{
  .panel-heading{
	position: relative;

	.action{
	  position: absolute;
	  right: 15px;
	  top: 8px;
	}
  }
}

.form-group{
  position: relative;

  label{
	font-weight: bold;
  }
}

.page-header-properties{
  @size: 20px;
  position: absolute;
  left: 15px;
  top: 50%;
  width: @size;
  height: @size;
  font-size: @size;
  margin-top: -@size/4;

  &.page-header-properties-list{
	margin-top: -7px;
  }
}
.page-header-with-properties{
  padding-left: 30px;
}

.img-form-btn{
  position: absolute;
  left: 230px;
  top: 0px;
}

.form-img{
  width: 182px;
  //  height: 122px;
  //  border-right: 2px solid rgba(0,0,0,0.3);
  //  .br(3px);
  overflow: hidden;
  position: relative;
  margin-left: 15px;

  img{
	position: relative;
	max-width: 100%;
  }
}

.img-table{
  img{
	max-width: 184px;
  }
}

.img-panel{
  width: 182px;
  height: 122px;
  border: 2px solid rgba(0,0,0,0.3);
  .br(3px);
  overflow: hidden;
  position: relative;
  margin: 15px 25px;

  img{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: auto;
  }
}

.imgs-list{
  position: relative;
  width: 100%;
  height: auto;
  padding: 15px;

  .img{
	width: 182px;
	height: 122px;
	border: 2px solid rgba(0,0,0,0.3);
	.br(3px);
	overflow: hidden;
	position: relative;
	margin: 20px;
	float: left;

	img{
	  position: absolute;
	  left: 0;
	  top: 0;
	  width: 100%;
	  height: auto;
	}
  }
}

.action-icons{
  position: relative;

  a{
	padding: 5px;
	margin-right: 5px;
	.transition(all @at ease);

	&:last-child{
	  margin-right: 0;
	}
  }
}

.index-table{
  thead{
	th{
	  &:last-child{
		min-width: 90px;
	  }
	}
  }
}

//.mce-tinymce{
//  height: 370px !important;
//
//  .mce-edit-area{
//    height: 300px !important;
//
//    iframe{
//      height: 100% !important;
//    }
//  }
//}

.preloader{
  position: relative;
  width: 30px;
  height: 30px;
  background-image: url(../../i/preload.gif);
}

.preloader-button{
  padding: 0;
  border: 0;
}

.menu-line{
  //  height: 50px;
  button{
	margin-right: 5px;
  }
}

menu-line{
  button{
    .transition(all @at ease);

    &.active{
      .transform(scale(1.1,1.1));
      background-color: #00cc99;
    }
  }
}

.show-page-wrapper{
  margin: 15px 0 15px 0;
}

.page-tab{
  margin: 15px 0 15px 0;
}

el-screen-content{
  width: 99%;
  display: block;
}
