
@import (once) "partials/reset";
@import (once) "partials/vars";
@import (once) "partials/functions";
@import (once) "partials/helpers";
@import (once) "partials/animations";
@import (once) "fa/font-awesome";

html {
  background-color: #fff;
  height: auto;
  overflow: auto;
  transition: all 1.3s ease-out;
  min-width: 600px;

  body {
    font-family: @text-font;
    color: #959595;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    overflow: hidden !important;
    min-width: 600px;
    text-align: center;

    img{

    }

    .title{
      font-size: 30px;
      margin: 30px 0 30px 0;
    }

  }

}