//@import "bootstrap/less/bootstrap";

@import (once) "partials/reset";
@import (once) "partials/vars";
@import (once) "partials/functions";
@import (once) "partials/helpers";
@import (once) "partials/animations";
@import (once) "fa/font-awesome";




html{
  background-color: @my-white2;
  height: auto;
  overflow: auto;
  transition: all 1.3s ease-out;
  min-width: @s-width;
  font-family: open_sansregular, sans-serif;
  font-weight: bold;

  body{
    //font-family: @text-font;
    font-family: open_sansregular, sans-serif;
    font-weight: bold;
    color: #333033;
    font-size: 14px;
    line-height: 26px;
    overflow: hidden!important;
    min-width: @s-width;

    &.hide-sections{
      section{
        display: none;
      }
    }

    section{
      z-index: 10;
      min-width: @s-width;
      background-color: @my-white2;
      position: relative;

      .block-body{
        //padding-left: 10px;
        //padding-right: 10px;
        border: 0 !important;
        word-wrap: break-word;
        box-sizing: border-box;
        z-index: 20;
        width: @s-width;
        margin-right: auto;
        margin-left: auto;

        //@media @m-phone{
        //  width: 600px;
        //  min-width: 600px;
        //  margin: 0 auto;
        //}
        //@media @m-tablet{
        //  width: 768px;
        //  margin: 0 auto;
        //}
        //@media @m-desktop-s{
        //  width: 100%;
        //}
        //@media @m-desktop-xl{
        //  width: 1100px;
        //  margin: 0 auto;
        //}
        position: relative;
      }
    }

    .up-btn{
      background-image: url(../tinymce/upload/site/legion/up.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;

      position: fixed;
      right: 20px;
      top: 50%;
      margin-top: 21.5px;
      width: 74px;
      height: 43px;
      cursor: pointer;
      .my-transition();

      &:hover{
        .transform(scale(1.1,1.1));
      }
    }



  }




  @import (once) "mrBlocks/topMenu";
  @import (once) "mrBlocks/firstScreen";
  @import (once) "mrBlocks/about";
  @import (once) "mrBlocks/promo1";
  @import (once) "mrBlocks/whyUs";
  @import (once) "mrBlocks/promo2";
  @import (once) "mrBlocks/works";
  @import (once) "mrBlocks/promo3";
  //@import (once) "kvalBlocks/promo4";
  //@import (once) "kvalBlocks/otziv";
  @import (once) "mrBlocks/contacts";
  //@import (once) "kvalBlocks/price";
  //@import (once) "kvalBlocks/bottom";
  @import (once) "mrBlocks/os";



}




