<div class="block-content">
    <md-card>
        <md-card-content>
            <h2 ng-if="item.title!=null" class="md-title"><span ng-bind="item.title"></span></h2>
            <h2 ng-if="item.title==null && index>=0" class="md-title"><span ng-bind="index+1"></span></h2>
            <p ng-if="item.description!=null" ng-bind="item.description"></p>
            <md-list>
                <md-list-item class="list-item" ng-repeat="field in item.fields">

                    <span ng-if="!(field.type=='group' || field.type=='img' )" ng-bind="field.title"></span>

                    <p ng-if="field.type!='group'"></p>

                    <div class="contents-in-block" ng-if="field.type=='group'" flex="100">
                        <h2 flex="100">
                            <span ng-if="field.editable=='0'" ng-bind="field.title"></span>
                            <div ng-if="field.editable=='1'" class="md-actions" layout="row" layout-align="end center">
                                <span style="position: absolute;left: 16px;" ng-bind="field.title"></span>
                                <md-button ng-click="addContent($event, field)">Создать</md-button>
                            </div>
                        </h2>
                        <md-list-item flex="100" class="md-3-line" ng-repeat="itemIn in item.value[field.name]">
                            <div class="md-list-item-text">
                                <content item="itemIn" index="$index" editable="field.editable" f-load="fLoad" reload="reload"></content>
                            </div>
                        </md-list-item>
                    </div>

                    <div class="imgblock" ng-if="field.type=='img'" flex="100">
                        <h2 flex="100">
                            <span ng-bind="field.title"></span>
                        </h2>
                        <div class="form-group">
                            <input class="hide" id="imgField_{{item.id+'_'+field.id}}" required name="text" ng-model="item.value[field.name]">
                            <a ng-href="{{'/tinymce/filemanager/dialog.php?type=1&field_id=imgField_'+item.id+'_'+field.id}}" target="_blank" class="iframe-btn">
                                <div class="form-img">
                                    <img id="img_imgField_{{ item.id+'_'+field.id }}" ng-src="{{item.value[field.name]}}" alt="image"/>
                                </div>
                            </a>
                        </div>
                    </div>

                    <md-switch
                            ng-if="field.type=='boolean'"
                            ng-model="item.value[field.name]"
                            aria-label="itemBoolean"
                            class="md-accent">
                    </md-switch>

                    <md-input-container ng-if="field.type=='gallery'" flex="60" class="outline-none">
                        <select-gallery model="item.value[field.name]"></select-gallery>
                    </md-input-container>

                    <md-input-container ng-if="field.type=='select'" flex="60" class="outline-none">
                        <label>Выбор</label>
                        <md-select ng-model="item.value[field.name]">
                            <md-option ng-repeat="state in field.select" value="{{state.value}}">{{state.key}}</md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container ng-if="field.type=='string'" flex="60" class="outline-none">
                        <label>Строка</label>
                        <input type="text" ng-model="item.value[field.name]">
                    </md-input-container>


                    <md-input-container ng-if="field.type=='int'" flex="60" class="outline-none">
                        <label>Целое число</label>
                        <input type="number" ng-model="item.value[field.name]">
                    </md-input-container>

                    <md-input-container ng-if="field.type=='email'" flex="60" class="outline-none">
                        <label>Email</label>
                        <input type="email" ng-model="item.value[field.name]">
                    </md-input-container>

                    <md-input-container ng-if="field.type=='phone' || field.type=='tel'" flex="60" class="outline-none">
                        <label>Номер телефона</label>
                        <input type="tel" ng-model="item.value[field.name]">
                    </md-input-container>

                    <md-input-container ng-if="field.type=='text'" flex="60" class="outline-none">
                        <label>Текст</label>
                        <textarea cols="30" rows="10" ng-model="item.value[field.name]"></textarea>
                    </md-input-container>

                    <md-input-container ng-if="field.type=='html'" flex="60" class="outline-none">
                        <label>Текст</label>
                        <textarea ui-tinymce="tinymceOptions" cols="30" rows="10" ng-model="item.value[field.name]"></textarea>
                    </md-input-container>

                    <md-input-container ng-if="field.type=='font'" flex="60" class="outline-none">
                        <label>Выбор шрифта</label>
                        <md-select ng-model="item.value[field.name]">
                            <md-option ng-repeat="font in Storage.fonts" value="{{font.value}}">{{font.key}}</md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container ng-if="field.type=='animation'" flex="20" class="outline-none">
                        <label>Выбор анимации</label>
                        <md-select ng-model="item.value[field.name].animation">
                            <md-option ng-repeat="state in field.select" value="{{state.value}}">{{state.key}}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container ng-if="field.type=='animation'" flex="20" class="outline-none">
                        <label>Задержка</label>
                        <input type="text" ng-model="item.value[field.name].delay">
                    </md-input-container>
                    <md-input-container ng-if="field.type=='animation'" flex="20" class="outline-none">
                        <label>Продолжительность</label>
                        <input type="text" ng-model="item.value[field.name].duration">
                    </md-input-container>



                    <!--<md-divider ng-if="!$last"></md-divider>-->
                    <md-divider></md-divider>
                </md-list-item>

                <!--<md-list-item ng-if="editable=='1' || item.name=='data'" class="list-item">-->
                <md-list-item ng-if="editable=='1'" class="list-item">
                    <span>Сортировка</span>
                    <p></p>
                    <md-input-container ng-if="editable=='1'" flex="60" class="outline-none">
                        <label>Сортировка</label>
                        <input type="text" ng-model="item.order">
                    </md-input-container>
                </md-list-item>
                <md-divider></md-divider>
                <md-list-item ng-if="editable=='1'" class="list-item">
                    <span>Опубликован</span>
                    <p></p>
                    <md-switch
                            ng-model="item.published"
                            aria-label="itemBoolean"
                            ng-true-value="'1'"
                            ng-false-value="'0'"
                            class="md-accent">
                    </md-switch>
                </md-list-item>
            </md-list>
        </md-card-content>
        <div ng-if="editable=='1'" class="md-actions" layout="row" layout-align="end center">
            <md-button ng-click="deleteContent($event, item)">Удалить</md-button>
        </div>
    </md-card>

</div>