<div class="btn-group">
    <md-button
            ng-repeat="item in items track by $index" ng-click="item.onClick($event)"
            aria-label="{{ item.label }}"
            class=""
            ng-show="item.show!=false"
            ng-class="{
            'active': Storage.headerTabActive==item.name,
            'md-fab':(item.type==undefined || item.type=='fab'),
            'md-raised': item.type=='raised',
            'md-primary': (item.view==undefined || item.view=='primary'),
            'md-warn': item.view=='warn',
            'md-mini': (item.size==undefined || item.size=='mini')
            }">
        <md-tooltip>
            <span ng-bind="item.tooltip"></span>
        </md-tooltip>
        <span ng-if="item.text!=undefined" ng-bind="item.text"></span>
        <md-icon ng-if="item.icon!=undefined" md-svg-src="{{ 'i/icons/' + item.icon }}"></md-icon>
        <span>{{item.show}}</span>
    </md-button>
</div>