<md-dialog flex="100%" aria-label="Создание нового блока" ng-controller="DialogCreateContentCtrl as IC">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Создание нового блока</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="IC.cancel()">
                    <md-icon md-svg-src="i/icons/ic_close_white_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>

            <div ng-if="IC.items==null || IC.fLoad" class="height-0">
                <md-progress-linear ng-if="IC.fLoad || IC.items==null"></md-progress-linear>
            </div>

            <md-content layout-padding>

                <md-input-container>
                    <label>Имя</label>
                    <input required ng-model="IC.item.name">
                </md-input-container>

                <md-input-container>
                    <label>Заголовок</label>
                    <input required ng-model="IC.item.title">
                </md-input-container>

                <md-input-container>
                    <label>PID</label>
                    <md-select ng-model="IC.item.pid">
                        <md-option value="0">--Не выбрано--</md-option>
                        <md-option ng-repeat="content in IC.contents" value="{{content.id}}">
                            {{content.title}}
                        </md-option>
                    </md-select>
                </md-input-container>

                <md-input-container>
                    <label>Тип блока</label>
                    <md-select ng-model="IC.item.type_id">
                        <md-option value="0">--Не выбрано--</md-option>
                        <md-option ng-repeat="type in IC.types" value="{{type.id}}">
                            {{type.title}}
                        </md-option>
                    </md-select>
                </md-input-container>

                <md-input-container>
                    <label>Сортировка</label>
                    <input ng-model="IC.item.order">
                </md-input-container>

                <md-switch
                        ng-model="IC.item.published"
                        ng-true-value="'1'"
                        ng-false-value="'0'"
                        aria-label="editable">
                    Опубликовано
                </md-switch>

                <content item="IC.item" index="-1"></content>

            </md-content>


        </md-dialog-content>
        <div class="md-actions" layout="row">
            <span flex></span>

            <md-button ng-click="IC.cancel()" class="md-warn">
                Отмена
            </md-button>
            <md-button ng-click="IC.confirm()" class="md-primary">
                Создать
            </md-button>
        </div>
    </form>
</md-dialog>