<md-dialog flex="100%" aria-label="Изменение типа" ng-controller="DialogEditTypeCtrl as IC">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Изменение типа</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="IC.cancel()">
                    <md-icon md-svg-src="i/icons/ic_close_white_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>

            <div ng-if="IC.items==null || IC.fLoad" class="height-0">
                <md-progress-linear ng-if="IC.fLoad || IC.items==null"></md-progress-linear>
            </div>

            <md-content layout-padding>

                <md-input-container>
                    <label>ID</label>
                    <input required ng-model="IC.item.id">
                </md-input-container>

                <md-input-container>
                    <label>Имя</label>
                    <input required ng-model="IC.item.name">
                </md-input-container>

                <md-input-container>
                    <label>Заголовок</label>
                    <input required ng-model="IC.item.title">
                </md-input-container>

                <md-input-container flex="60" class="outline-none">
                    <label>Описание</label>
                    <textarea cols="30" rows="10" ng-model="IC.item.description"></textarea>
                </md-input-container>

            </md-content>


        </md-dialog-content>
        <div class="md-actions" layout="row">
            <span flex></span>

            <md-button ng-click="IC.cancel()" class="md-warn">
                Отмена
            </md-button>
            <md-button ng-click="IC.confirm()" class="md-primary">
                Сохранить
            </md-button>
        </div>
    </form>
</md-dialog>