<md-dialog flex="100%" aria-label="Изменение поля" ng-controller="DialogEditFieldCtrl as IC">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Изменение поля</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="IC.cancel()">
                    <md-icon md-svg-src="i/icons/ic_close_white_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>

            <div ng-if="IC.items==null || IC.fLoad" class="height-0">
                <md-progress-linear ng-if="IC.fLoad || IC.items==null"></md-progress-linear>
            </div>

            <md-content layout-padding>

                <md-input-container>
                    <label>Тип поля</label>
                    <md-select ng-model="IC.item.type">
                        <md-option ng-repeat="type in Storage.fieldTypes" value="{{type.name}}">
                            {{type.title}}
                        </md-option>
                    </md-select>
                </md-input-container>

                <md-input-container ng-if="IC.item.type=='group'">
                    <label>Имя группы поля</label>
                    <input required ng-model="IC.item.group_name">
                </md-input-container>

                <md-input-container>
                    <label>Тип</label>
                    <md-select ng-model="IC.item.content_type_id">
                        <md-option value="0">--Все--</md-option>
                        <md-option ng-repeat="type in IC.types" value="{{type.id}}">
                            {{type.title}}
                        </md-option>
                    </md-select>
                </md-input-container>

                <md-input-container>
                    <label>GTID</label>
                    <md-select ng-model="IC.item.group_type_id">
                        <md-option value="0">--Не выбрано--</md-option>
                        <md-option ng-repeat="type in IC.types" value="{{type.id}}">
                            {{type.title}}
                        </md-option>
                    </md-select>
                </md-input-container>

                <md-input-container>
                    <label>Имя</label>
                    <input required ng-model="IC.item.name">
                </md-input-container>

                <md-input-container>
                    <label>Заголовок</label>
                    <input required ng-model="IC.item.title">
                </md-input-container>

                <md-input-container>
                    <label>Сортировка</label>
                    <input required ng-model="IC.item.order">
                </md-input-container>

                <md-input-container flex="60" class="outline-none">
                    <label>Описание</label>
                    <textarea cols="30" rows="10" ng-model="IC.item.description"></textarea>
                </md-input-container>

                <md-switch
                        ng-model="IC.item.editable"
                        ng-true-value="'1'"
                        ng-false-value="'0'"
                        aria-label="editable">
                    Редактируемое поле
                </md-switch>

                <md-input-container>
                    <label>Значение по умолчанию</label>
                    <input required ng-model="IC.item.default">
                </md-input-container>


            </md-content>



        </md-dialog-content>
        <div class="md-actions" layout="row">
            <span flex></span>

            <md-button ng-click="IC.cancel()" class="md-warn">
                Отмена
            </md-button>
            <md-button ng-click="IC.confirm()" class="md-primary">
                Сохранить
            </md-button>
        </div>
    </form>
</md-dialog>