.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

/* =======================================================================================
Example showing how to change the color/size of the icons:
.icon-name {
	font-size: 32px; // works because "width" & "height" were set using em units
	color: red; // works for single-colored icons, because "fill" was set to "currentColor"
}
======================================================================================== */

.icon-pictures2 {
	width: 1.015625em;
}

.icon-time {
	width: 1.21875em;
}

.icon-eye {
	width: 1.09375em;
}

.icon-cloud2 {
	width: 1.09375em;
}

.icon-upload4 {
	width: 1.09375em;
}

.icon-download5 {
	width: 1.09375em;
}

.icon-folder2 {
	width: 1.091796875em;
}

.icon-gamepad2 {
	width: 1.029296875em;
}

.icon-graduate {
	width: 1.31640625em;
}

.icon-football {
	width: 1.017578125em;
}

.icon-3dglasses {
	width: 1.40625em;
}

.icon-microwave {
	width: 1.125em;
}

.icon-satellite2 {
	width: 1.0390625em;
}

.icon-batman {
	width: 1.21875em;
}

.icon-spaceinvaders {
	width: 1.03125em;
}

.icon-bomb {
	width: 1.140625em;
}

.icon-comments {
	width: 1.07421875em;
}

.icon-volume2 {
	width: 1.1171875em;
}

.icon-dollar2 {
	width: 1.1875em;
}

.icon-cloudy2 {
	width: 1.173828125em;
}

.icon-cloudy3 {
	width: 1.099609375em;
}

.icon-bike2 {
	width: 1.171875em;
}

.icon-bus {
	width: 1.03125em;
}

.icon-ticket {
	width: 1.25em;
}

.icon-ticket2 {
	width: 1.25em;
}

.icon-ticket3 {
	width: 1.21875em;
}

.icon-radio3 {
	width: 1.03125em;
}

.icon-navigation2 {
	width: 1.03125em;
}

.icon-comment-alt2-stroke {
	width: 0.875em;
}

.icon-comment-alt2-fill {
	width: 0.875em;
}

.icon-wrench {
	width: 0.998046875em;
}

.icon-dial {
	width: 1.00390625em;
}

.icon-share3 {
	width: 0.998046875em;
}

.icon-document-alt-stroke {
	width: 0.75em;
}

.icon-document-alt-fill {
	width: 0.75em;
}

.icon-award-fill {
	width: 0.5em;
}

.icon-award-stroke {
	width: 0.5em;
}

.icon-beaker-alt {
	width: 0.5em;
}

.icon-beaker {
	width: 0.5em;
}

.icon-lightbulb {
	width: 0.625em;
}

.icon-spin {
	width: 0.875em;
}

.icon-undo3 {
	width: 0.998046875em;
}

.icon-transfer {
	width: 0.998046875em;
}

.icon-move-vertical {
	width: 0.375em;
}

.icon-move-vertical-alt1 {
	width: 0.375em;
}

.icon-microphone5 {
	width: 0.75em;
}

.icon-play {
	width: 0.75em;
}

.icon-pause3 {
	width: 0.75em;
}

.icon-iphone {
	width: 0.75em;
}

.icon-ampersand {
	width: 0.58203125em;
}

.icon-info4 {
	width: 0.5em;
}

.icon-question-mark {
	width: 0.5em;
}

.icon-pilcrow {
	width: 0.75em;
}

.icon-hash {
	width: 0.875em;
}

.icon-list5 {
	width: 1.142578125em;
}

.icon-list-nested {
	width: 1.142578125em;
}

.icon-book4 {
	width: 0.875em;
}

.icon-pen-alt2 {
	width: 0.998046875em;
}

.icon-brush3 {
	width: 0.998046875em;
}

.icon-brush-alt {
	width: 0.998046875em;
}

.icon-eyedropper2 {
	width: 0.998046875em;
}

.icon-layers-alt {
	width: 0.998046875em;
}

.icon-layers2 {
	width: 0.998046875em;
}

.icon-chart7 {
	width: 0.998046875em;
}

.icon-chart-alt {
	width: 0.9375em;
}

.icon-bars-alt {
	width: 0.875em;
}

.icon-user {
	width: 0.75em;
}

.icon-lock-stroke {
	width: 0.75em;
}

.icon-lock-fill {
	width: 0.75em;
}

.icon-unlock-stroke {
	width: 0.75em;
}

.icon-unlock-fill {
	width: 0.75em;
}

.icon-sun-stroke {
	width: 0.998046875em;
}

.icon-sun-fill {
	width: 0.998046875em;
}

.icon-rain2 {
	width: 0.998046875em;
}

.icon-umbrella2 {
	width: 0.998046875em;
}

.icon-map-pin-stroke {
	width: 0.625em;
}

.icon-map-pin-fill {
	width: 0.625em;
}

.icon-map-pin-alt {
	width: 0.5em;
}

.icon-download {
	width: 0.75em;
}

.icon-upload5 {
	width: 0.75em;
}

.icon-fork {
	width: 0.875em;
}

.icon-images {
	width: 1.125em;
}

.icon-connection {
	width: 1.25em;
}

.icon-books {
	width: 1.125em;
}

.icon-library2 {
	width: 1.0625em;
}

.icon-price-tags {
	width: 1.25em;
}

.icon-history2 {
	width: 1.0625em;
}

.icon-keyboard4 {
	width: 1.125em;
}

.icon-bubbles {
	width: 1.125em;
}

.icon-bubbles2 {
	width: 1.125em;
}

.icon-bubbles3 {
	width: 1.125em;
}

.icon-bubbles4 {
	width: 1.125em;
}

.icon-users {
	width: 1.125em;
}

.icon-menu2 {
	width: 1.375em;
}

.icon-menu3 {
	width: 1.375em;
}

.icon-menu4 {
	width: 1.375em;
}

.icon-volume-high {
	width: 1.0625em;
}

.icon-embed2 {
	width: 1.25em;
}

.icon-youtube4 {
	width: 2.5087890625em;
}
